body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, gray, whitesmoke, gray);
}

#gallery {
  text-align: center;
  color: darkgray;
}

.container {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-content {
  display: flex;
  height: 70%;
  width: 80%;
  background: whitesmoke;
  flex-direction: row;
}

#main-picture {
  max-height: 100%;
  width: 100%;
}

.button {
  width: 5%;
}

button{
  padding: 0;
}

#right-image {
  transform: rotate(180deg);
}

#thumbnails {
  display: flex;
  flex-direction: row;
}

.box {
  display: flex;
  height: 50px;
  width: 50px;
  background: lightcyan;
  margin: 5px;
}

.icon{
  height: 100%;
  width: 100%;
}